*
!.gitignore

!circom_algebra
!circom_algebra/Cargo.toml
!circom_algebra/src
!circom_algebra/src/*.rs
!circom_algebra/src/constraint_storage
!circom_algebra/src/constraint_storage/*.rs

!circuit_graphing
!circuit_graphing/Cargo.toml
!circuit_graphing/src
!circuit_graphing/src/*.rs
!circuit_graphing/src/directed_acyclic_graph
!circuit_graphing/src/directed_acyclic_graph/*.rs

!circuits_and_constraints
!circuits_and_constraints/Cargo.toml
!circuits_and_constraints/src
!circuits_and_constraints/src/*.rs
!circuits_and_constraints/src/r1cs
!circuits_and_constraints/src/r1cs/*.rs

!civer
!civer/Cargo.toml
!civer/src
!civer/src/*.rs

!clustering
!clustering/Cargo.toml
!clustering/src
!clustering/src/*.rs

!constant_tracking
!constant_tracking/Cargo.toml
!constant_tracking/src
!constant_tracking/src/*.rs

!equivalence
!equivalence/Cargo.toml
!equivalence/src
!equivalence/src/*.rs

!solvers_interface
!solvers_interface/Cargo.toml
!solvers_interface/src
!solvers_interface/src/*.rs

!utils
!utils/Cargo.toml
!utils/src
!utils/src/*.rs

!zk-genver
!zk-genver/Cargo.toml
!zk-genver/src
!zk-genver/src/*.rs